.TNcenter{
	text-align: justify;
	margin-right: 12%;
	margin-left: 12%;
}

body { padding-top: 70px; }

.posRelative{
	position: relative;
}

.posAbsolue{
	position: absolute;
}

.navbar-default .navbar-nav > li > a{
	padding-right: 25px;
}

.paddingsection{
	padding-top: 20px;
}