
/* Partie générale body, police, etc */
h1,h3 {
  font-family:'Lobster', cursive;
}
.h2titre
{
	font-family:'Lobster', cursive;
	color: white;
	display: flex;
	align-items: center;
	font-size: 3em;
	text-shadow: 3px 3px 1px black;
}

body {
  font-family: 'Cabin', sans-serif;
  color: #582E1A;
  background-color: #FFFFEC;
}
.mainTitle {
  font-family: 'Lobster', cursive;
  font-size: 9vh;
  color: #582E1A;
  font-weight: bold;
}
h2, h3 {
  font-family: 'Lobster', cursive;
}
.dateTitle {
  font-family: 'Lobster', cursive;
  font-size: 3vh;
  color: #582E1A;
}
.section-header {
  font-family: 'Lobster', cursive;
  color: #582E1A;
}

.wildnavbar {
  background-color: #FFFFEC;
  /*background-color: #71BBFF;*/
}



/* section infos pratiques*/
.infos-pratiques {
  background-image: url("images/canopy200.jpg");
  padding: 0.5em 1em 0.5em 1em;
  margin-left: 1em;
  margin-bottom: 1em;
}
.infos-pratiques h2 {
  color: white;
  text-shadow: 3px 3px 1px black;
}

/* section biovette */


.capt_bouffe{display: flex; flex-direction: column; justify-content: space-around; }
.certif_bio{text-align: center;}
.prix{font-weight: bold;}
.lorem{border: 1.5px transparent double; padding-bottom: 15px;}
.carousel-inner > .item > img{width: 100%; height: auto;}
.bio_vert{color: darkgreen}

@media (max-width: 991px) {

    .capt_bouffe{width: 100%;}

}

@media (min-width: 992px) and (max-width: 1199px) {

    .capt_bouffe{width: 100%;}

}

@media screen and (min-width: 1200px) {


}



  /* Début partie Xavier */
  .subsection {
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
  }
  .ticket_pict img {
    max-width: 100%;
  }
  .captions {
    font-size: 1.2em;
    text-align: justify;
  }
  .row.display-flex {
    display: flex;
    flex-wrap: wrap;
  }
  .thumbnail {
    height: 100%;
  }
  .maps {
    margin-top: 2em;
  }
   .interactive_map {
    max-width: 100%;
  }
  .festival_map {
    max-width: 100%;
  }
  .byebyedeer {
    max-width: 100%;
  }
  .join-us {
    background-image: url("images/bande1.jpg");
    height: 150px;
    padding-left: 15%;
    display: flex;

 }
  .join-us h2 {
    margin-left: 1em;
    margin-bottom: 1em;
    color: white;

  }
  .volunteers {
    text-align: center;
    font-size: 1.4em;
  }
  .moss-banner {
    max-width: 100%;
    margin-top: 1em;
  }
  .wildfooter {
    background-color: #214035;
    padding-bottom: 1vh;
  }
  .logo img {
    width: 20px;
    height: 20px;
    margin-left: 5px;
    margin-right: 5px;
  }
  .credits {
    color: white;
    font-size: 1em;
    padding-top: 0.5em;
  }

  /* Fin partie Xavier*/


/*timeline*/
.timeline-legend.star, .timeline-legend.music, .timeline-legend.film{
  color: #fff;
  width: 35px;
  height: 35px;
  line-height: 35px;
  font-size:0.8em;
  text-align: center;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}
.legend{
  margin-bottom:1%;
  margin-left:9%;

}
.legend-icon{
  font-family:'Cabin', sans-serif;
  font-size:1em;
  font:bold;
  text-shadow:4px 4px 3px black;
  color: white;

}

.timeline-legend.star{
  background-color:#ED4C67;
}

.timeline-legend.music{
  background-color: #7d5fff;
}

.timeline-legend.film{
  background-color: #33d9b2;
}

body.timeline-body {
  padding-top:150px;
  background: url("images/pattern-3119825_1920.jpg") no-repeat center fixed;
  font-family: 'Cabin', sans-serif;
  color: #582E1A;
}

div.container.legend{
  font-family: 'Lobster', cursive;
  color: #582E1A;
}

div.timeline-panel{
  background-color: white;
  opacity:0.8;
  border-radius:25px;
}

div.timeline-body {
  font-family: 'Lobster', cursive;
  color: #582E1A;
}

h1#timeline{
  padding-left:15%;
  font-size:2.5em;
  font:bold;
  color:white;
  text-shadow:4px 4px 3px black;
  color: white;
}
.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}

.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #eeeeee;
    left: 50%;
    margin-left: -1.5px;
}

.timeline > li {
    margin-bottom: 20px;
    position: relative;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li > .timeline-panel {
    width: 46%;
    float: left;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    padding: 20px;
    position: relative;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline > li > .timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    content: " ";
}

.timeline > li > .timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
}

.timeline > li > .timeline-badge {
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -25px;
    background-color: #999999;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}

.timeline-badge.star {
    background-color: #ED4C67 !important;
}

.timeline-badge.music {
    background-color: #7d5fff !important;
}

.timeline-badge.film {
    background-color: #33d9b2 !important;
}


.timeline-title {
    margin-top: 0;
    color: inherit;
    font-weight: bold;
    font-size:1.5em;
    font-family: 'Lobster', cursive;
    color: #582E1A;
}


.timeline-body > p,.timeline-body > ul {
    margin-bottom: 0;
    font-size:1em;

}

.timeline-body > p + p {
    margin-top: 5px;
}


@media (max-width: 767px) {
    ul.timeline:before {
        left: 40px;
    }

    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    ul.timeline > li > .timeline-badge {
        left: 15px;
        margin-left: 0;
        top: 16px;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
    }

    ul.timeline > li > .timeline-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
    }

    ul.timeline > li > .timeline-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
    }

}
/*timeline*/

.TNcenter{
	text-align: justify;
	margin-right: 12%;
	margin-left: 12%;
	font-size: 1.2em;
}

.artistes{
	margin-top: 25px;
}

.container-fluid{
	padding-right: 0px;
	padding-left: 0px;
}

body { padding-top: 50px; }


.posRelative{
	position: relative;
}

.posAbsolue{
	position: absolute;
	margin-top: 35px;
	margin-left: 25px;
}

.navbar-default .navbar-nav > li > a{
	padding-right: 25px;
}

.tailletitre{
	font-size : 1em;
}

.marginsection{
	margin-top: 100px;
}

.taillemenunavbar{
	font-size :1.5em;
}

.maintitle{
 	font-family: 'Lobster', cursive;
 	font-size: 4em;
}
.maintitle2{
	font-family: 'Lobster', cursive;
 	font-size: 4em;
}


@media screen and (max-width: 576px) {
  .mediatitre {
	    font-size: 1.3em;
	    /*display: none;*/
  }
  .mediatexte {
  		font-size: 1em;
	    /*display: none;*/
  }
  .mediapetit{
  		display: none;
  }
  .taillemenunavbar{
	font-size :1.2em;
	}
	.maintitle2{
		display: none;
	}
	..miseEnAvant{
	font-size: 1em;
	}

	.calque{
	display: none;
	}

	.join-us {
		height: 60px;
	}
}

/*CCS des calques de la banniere*/

.themeWF{
	position: relative;
	display: flex;

}

.miseEnAvant{

	color: white;
	font-size: 5em;
	font-family:'Lobster', cursive;
	text-shadow: 3px 3px 1px black;
}

.calque{
	position: absolute;
	left: 25%;
	bottom: 20%;

}

.calque2{
	position: absolute;
	left: 10%;
	top: 40%;

}
